<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>md viewer</title>

    <link href="/static/stylesheets/prism.css" rel="stylesheet" />
	<link href="/static/stylesheets/github-markdown.css" rel="stylesheet">
    <link href="/static/stylesheets/style.css" rel="stylesheet">

    <script src="/static/js/browser/diffDOM.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <script>
        function mdtohtml(row_text){
            const md = new Remarkable();
            return md.render(row_text);
        }
    </script>
</head>
<body>
    <div id="chatList">
        {% for (owner, html) in Cache %}
            {% if owner == "assistant"%}
            <div class="chatting-card-assistant">
                <div class="markdown-body">
                    {{html|safe}}
                </div>
            </div>
            {% else %}
            <div class="right-align">
                <div class="chatting-card-user">
                    <pre class="anti-xss-pre">{{html}}</pre>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var sock = io.connect('http://127.0.0.1:5000');
            $('a').attr('target', '_blank');
            $(window).on('scroll', function(){
                console.log(window.scrollX, window.scrollY);
            });
            sock.on('message', function(msg){
                if(msg.type === 'assistant'){
                    if (msg.status === 'running'){
                        var content = mdtohtml(msg.md);
                        $(".markdown-body").last().html(content);

                        var data = {};
                        data["html"] = content;
                        data["status"] = "running";
                        data["type"] = "backup";
                        data["owner"] = "assistant";
                        sock.send(data);
                    }
                    else if (msg.status === 'start'){
                        var html = mdtohtml(msg.md);
                        var content = $('<div class="chatting-card-assistant"><div class="markdown-body">'+ html +'</div></div>');
                        $('#chatList').append(content);
                        
                        var data = {};
                        data["html"] = content.html();
                        data["status"] = "start";
                        data["type"] = "backup";
                        data["owner"] = "assistant";
                        sock.send(data);
                    }
                    $(".markdown-body").last().find("code").each(function(index, item) {
                        Prism.highlightElement(item);
                    });
                    $('a').attr('target', '_blank');
                    $(".markdown-body").last().find("code").removeClass('language-none');
                }else{
                    $('#chatList').append($('<div class="right-align">').append($('<div class="chatting-card-user">').append($('<pre class="anti-xss-pre">').text(msg.msg))));

                    var data = {};
                    data["html"] = msg.msg;
                    data["status"] = "start";
                    data["type"] = "backup";
                    data["owner"] = "user";
                    sock.send(data);
                }
                window.scrollTo({top: $("#chatList").prop('scrollHeight')});
                console.log('Received Message : ' + msg.type);
            });
        });
    </script>
</body>
</html>